<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServelet</servlet-name>
        <servlet-class>com.health.servlets.RegisterServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServelet</servlet-name>
        <servlet-class>com.health.servlets.LoginServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>diseasesadding</servlet-name>
        <servlet-class>com.health.servlets.diseasesadding</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiseaseFind</servlet-name>
        <servlet-class>com.health.servlets.DiseaseFind</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServelet</servlet-name>
        <servlet-class>com.health.servlets.HistoryServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorRegisterServelet</servlet-name>
        <servlet-class>com.health.servlets.DoctorRegisterServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewDoctor</servlet-name>
        <servlet-class>com.health.servlets.NewDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSignup</servlet-name>
        <servlet-class>com.health.servlets.DoctorSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorRemoval</servlet-name>
        <servlet-class>com.health.servlets.DoctorRemoval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PharmacistSignup</servlet-name>
        <servlet-class>com.health.servlets.PharmacistSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PharmacistRemoval</servlet-name>
        <servlet-class>com.health.servlets.PharmacistRemoval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDisease</servlet-name>
        <servlet-class>com.health.servlets.AddDisease</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiseaseRemovala</servlet-name>
        <servlet-class>com.health.servlets.DiseaseRemovala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rate_ReviewDoc</servlet-name>
        <servlet-class>com.health.servlets.Rate_ReviewDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicineRemovala</servlet-name>
        <servlet-class>com.health.servlets.MedicineRemovala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedicine</servlet-name>
        <servlet-class>com.health.servlets.AddMedicine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedicino</servlet-name>
        <servlet-class>com.health.servlets.AddMedicino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServleta</servlet-name>
        <servlet-class>com.health.servlets.ChatServleta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServelet</servlet-name>
        <url-pattern>/RegisterServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServelet</servlet-name>
        <url-pattern>/LoginServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>diseasesadding</servlet-name>
        <url-pattern>/diseasesadding</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiseaseFind</servlet-name>
        <url-pattern>/DiseaseFind</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServelet</servlet-name>
        <url-pattern>/HistoryServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorRegisterServelet</servlet-name>
        <url-pattern>/DoctorRegisterServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSignup</servlet-name>
        <url-pattern>/DoctorSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorRemoval</servlet-name>
        <url-pattern>/DoctorRemoval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PharmacistSignup</servlet-name>
        <url-pattern>/PharmacistSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PharmacistRemoval</servlet-name>
        <url-pattern>/PharmacistRemoval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDisease</servlet-name>
        <url-pattern>/AddDisease</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiseaseRemovala</servlet-name>
        <url-pattern>/DiseaseRemovala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rate_ReviewDoc</servlet-name>
        <url-pattern>/Rate_ReviewDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicineRemovala</servlet-name>
        <url-pattern>/MedicineRemovala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedicine</servlet-name>
        <url-pattern>/AddMedicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedicino</servlet-name>
        <url-pattern>/AddMedicino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServleta</servlet-name>
        <url-pattern>/ChatServleta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
